---
logging:
  version: 1
  formatters:
    standard:
      format: "%(asctime)s [%(levelname)-8s] (%(filename)s:%(lineno)d)  %(message)s"

  handlers:
    file:
      #class: logging.handlers.TimedRotatingFileHandler
      class: ami.TimedRotatingFileHandler
      formatter: standard
      filename: ami.log
      encoding: utf-8
      when: midnight
      level: DEBUG

    console:
      class: ami.ConsoleHandler
      formatter: standard
      level: DEBUG
  
  root:
    handlers: [console, file]
    level: DEBUG

mongodb:
  connection:
    host: localhost
    port: 8115
    username: asdfasdf
    password: asdfasdf
  database: ami

directories:
  dropbox: data/dropbox
  retrieval: data/retrieval
  workspace: data/workspace
  deleted: data/deleted
  finished: data/finished


apps:
  scheduler:
    lockdir: var/locks
    tasks:
      - accept_packages
      - store_packages
      - cleanup_packages


    
  accept_packages:
    age:  300

  store_packages:
    retries: 3
    hsi: /usr/local/bin/hsi
    keytab: asdfasdf.keytab
    user: dlib
    root: AMI


  process_packages:
    ffmpeg: /bin/ffmpeg
    ffprobe: /bin/ffprobe
    concurrent_packages: 3
    concurrent_transcodes: 4
    xsltproc: /usr/bin/xsltproc
    mods_stylesheet: etc/MARC21slim2MODS3-7.xsl
    transcode:
      audio:
        high: -ar 44100 -ab 320k -vn -c:a aac -f mp4
        med:  -ar 44100 -ab 128k -vn -c:a aac -f mp4        
      video:
        high: -vf yadif=0:-1:1,scale=:720 -vcodec libx264 -preset fast -profile main -level 3.1 -b 2M -maxrate 2M -bufsize 4M -threads 0 -r 30 -force_key_frames expr:gte(t,n_forced*2) -pix_fmt yuv420p -c:a aac -ab 192k -ar 44100 -movflags faststart -f mp4
        med:  -vf yadif=0:-1:1,scale=:480 -vcodec libx264 -preset fast -profile main -level 3.1 -b 1M -maxrate 1M -bufsize 2M -threads 0 -r 30 -force_key_frames expr:gte(t,n_forced*2) -pix_fmt yuv420p -c:a aac -ab 128k -ar 44100 -movflags faststart -f mp4
        low:  -vf yadif=0:-1:1,scale=:360 -vcodec libx264 -preset fast -profile baseline -level 3.0 -b 500k -maxrate 500k -bufsize 1M -bf 0 -threads 0 -r 30 -force_key_frames expr:gte(t,n_forced*2) -pix_fmt yuv420p -c:a aac -ab 128k -ar 44100 -movflags faststart -f mp4


  distribute_packages:
    switchyard:
      url: https://switchyard.mdpi.iu.edu
      token: xxxxx
      unit: UMICH
      retries: 3
      retry_interval: 240  # in minutes
    streaming:
      http: https://streaming.dlib.indiana.edu:4443/avalon_dark/_definst_/mp4:mdpis3-source/mdpi-playback/{NAME}/playlist.m3u8
      rtmp: rtmp://bl-uits-ct-mdpi.uits.indiana.edu:1935/avalon-dark/_definst_/mp4:{NAME}  
    hcp:
      hostname: mdpi.xxxxx.iu.edu
      username: xxxxx
      password: xxxxxx
      bucket: xxxxxx
      retries: 3
      retry_interval: 240 # in minutes


  store_packages:
    retries: 3
    retry_interval: 240  # in minutes
    hsi: /srv/shared/bin/hsi
    keytab: etc/hsi.keytab
    user: xxxxxx
    root: AMI


  purge_packages:
    ages: # in days
      deleted: 30
      finished: 1

  restserver:
    gunicorn:
      bind: ":8120"
      workers: 5
      accesslog: logs/restserver-access.log
      errorlog: logs/restserver-error.log
      pidfile: logs/restserver.pid
    authfile: etc/ami.auth
